body{
    background-image: url(../assets/image/body.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: Roboto;
    color: #fff;
}
.registr{
    position: absolute;
    width: 530px;
    height: 500px;
    top: 230px;
    left: 695px;
    label{
        width: 280px;
        height: 30px;
        background: #FFFFFF;
        opacity: 0.25;
        border-radius: 50px ;
        padding: 7px 0 0 20px;
        font-size: 24px;
    }
    &__title{
        position: absolute;
        top: 0;
        height: 30px;
        width: 300px;
        left: 140px;
        font-size: 48px;
    }
    &__subtitle{
        position: absolute;
        width: 250px;
        height: 20px;
        font-size: 16px;
        top: 60px;
        left: 160px;
    }
    &__email{
        position: absolute;
        top: 150px;
        left: 150px;
    }
    &__pass{
        position: absolute;
        top: 200px;
        left: 150px;
    }
    &__button{
        position: absolute;
        bottom: 20px;
    }
}